﻿@using WebApplication2.Models;

@{
    ViewData["Title"] = "Form";
}

@model OrderViewModel

<h1>Form</h1>
<div class="contentBody">
    <form asp-controller="Home" asp-action="FormPage">
        <table>
            <tr>
                <td colspan="2" valign="middle">
                    <div asp-validation-summary="ModelOnly" class="failureNotification"></div>
                    <div class="contentHead">
                        Personal details:
                    </div>
                </td>
            </tr>
            <tr>
                <td width="120">
                    Name:
                </td>
                <td class="failureNotification">
                    <input asp-for="Name" size="40" />
                    <span asp-validation-for="Name"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Invoice address:
                </td>
                <td class="failureNotification">
                    <input asp-for="Address" size="40" />
                    <span asp-validation-for="Address"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Telephone number:
                </td>
                <td class="failureNotification">
                    <input asp-for="PhoneNumber" size="40" />
                    <span asp-validation-for="PhoneNumber"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Email address:
                </td>
                <td class="failureNotification">
                    <input asp-for="EmailAddress" size="40" />
                    <span asp-validation-for="EmailAddress"></span>
                </td>
            </tr>
            <tr>
                <td>
                    Sum price: @(Model.Total * 1.27) Ft
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="Confirm" class="button" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts
{
    @* jQuery Validation for client side validation *@
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}
