﻿@using WebApplication2.Models

@model PaginatedList<WebApplication2.Models.Product>

@{
    ViewData["Title"] = "Products";
}


@if (Model == null || Model.Count == 0)
{
    <h1>Products</h1>
    <div class="contentText">There are no products in this category</div>
}
else
{

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>
                <a asp-action="Products" asp-route-catId="@ViewBag.Id"
                   asp-route-sortOrder="@ViewData["ProducerSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Producer</a>
            </th>
            <th>Type number</th>
            <th>Details</th>
            <th>
                <a asp-action="Products" asp-route-catId="@ViewBag.Id"
                   asp-route-sortOrder="@ViewData["NetPriceSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Net price/List price</a>
            </th>
            <th>More details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => prod.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => prod.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => prod.ModelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => prod.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => prod.NetPrice) (HUF)/
                    @(prod.NetPrice * 1.27) (HUF)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Home" asp-route-prodId="@prod.Id"
                       asp-route-cart="" asp-route-catId="@prod.CategoryId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Products"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-catId="@ViewBag.Id"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Products"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-catId="@ViewBag.Id"
   class="btn btn-default @nextDisabled">
    Next
</a>
