﻿@using WebApplication2.Models;

@{
    ViewData["Title"] = "Success";
}

@model OrderViewModel

<h1>Successful order</h1>

<div class="contentHead">Your order has been successfully confirmed with the following data:</div>

<div class="content">Name: @Model.Name</div>
<div class="content">Address: @Model.Address</div>
<div class="content">Telephone number: @Model.PhoneNumber</div>
<div class="content">Email address: @Model.EmailAddress</div>
<div class="content">Sum of order price: <strong>@(Model.Total * 1.27) (@Model.Total + 27% ÁFA) HUF</strong>.</div>
